/*

Fonts:
    - title font
    - paragraph font
*/

h1 {
    font-family: "Capriola";
}

.gradient-text {
    background-image: linear-gradient(90deg, /*color1, color2*/);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}